$white-100: #ffffff;
$black-100: #000000;

$blue-352: #3527b6;
$blue-3f3: #3f3ccb;
$blue-302: #302683;
$blue-a7c: #a7ceef;

$grey-2d2: #2d2d44;
$blue-2d2-97: #2d2d4497;
$grey-414: #414157;
$grey-f8f: #f8f8f8;
$grey-e8e: #e8e8e8;
$grey-333: #333333;
$grey-8f8: #8f8f9b;
$grey-757: #757575;
$grey-6c6: #6c6c7c;

$green-4eb: #4eb543;
$green-acb: #acb5ac;

$red-f44: #f44c12;
$red-c9a: #c9a3a4;

$anim: all 0.2s linear;
