@font-face {
  font-weight: 400;
  font-family: "TT Norms Pro";
  font-style: normal;
  font-display: swap;
  src: url(../../fonts/tt-norms-pro-400-normal.v2.woff2) format("woff2"),url(../../fonts/tt-norms-pro-400-normal.v2.woff) format("woff")
}

@font-face {
  font-weight: 500;
  font-family: "TT Norms Pro";
  font-style: normal;
  font-display: swap;
  src: url(../../fonts/tt-norms-pro-500-normal.v2.woff2) format("woff2"),url(../../fonts/tt-norms-pro-500-normal.v2.woff) format("woff")
}

@font-face {
  font-weight: 700;
  font-family: "TT Norms Pro";
  font-style: normal;
  font-display: swap;
  src: url(../../fonts/tt-norms-pro-700-normal.v2.woff2) format("woff2"),url(../../fonts/tt-norms-pro-700-normal.v2.woff) format("woff")
}


